---
const { post } = Astro.props;
const { title, mediaURL, description, newsSite, author, pubDate } = post;

// TODO: add styling her
// FIXME: dato-format, kursiv på skrevet av
// TODO: lenke til nyhetssted
---

<li class="mt-20">
  <h2 class="font-bold text-center mb-4">{title}</h2>
  <p>Dato: {pubDate.slice(0, 10)}</p>
  <p>Nyhetssted: {newsSite}</p>
  <p>{description}</p>
  <a href={mediaURL}>Lenke til artikkel</a>
  <p class="italic">Skrevet av: {author}</p>
</li>
