---
const { post } = Astro.props;
const { title, mediaURL, description, newsSite, author, pubDate } = post;

const date = new Date(pubDate);
const dateString =
  date.getDate() + "." + (date.getMonth() + 1) + "." + date.getFullYear();

// TODO: add styling her
// FIXME: dato-format, kursiv på skrevet av
// TODO: lenke til nyhetssted
---

<li class="mt-20">
  <h2 class="font-bold text-center mb-4">{title}</h2>
  <p>📅: {dateString}</p>
  <p>📰: {newsSite}</p>
  <p>{description}</p>
  <a href={mediaURL}>Lenke til artikkel</a>
  <p class="italic">Skrevet av: {author}</p>
</li>
